@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background: url("https://raw.githubusercontent.com/CiurescuP/LogIn-Form/main/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-box {
  width: 380px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 40px 30px;
  color: #fff;
  text-align: center;
}

.login-box h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  transition: 0.3s;
}

.login-box input::placeholder {
  color: #ccc;
}

.login-box input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(129, 236, 174, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
}

.login-box button[type="submit"] {
  width: 100%;
  margin: 10px 0;
  height: 44px;
  border-radius: 10px;
  background-color: #82ccdd;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #60a3bc;
}

.back-home-link {
  text-align: right;
  margin-bottom: 15px;
  font-size: 14px;
}

.forgot-password-link,
.register-link {
  margin-top: 12px;
  color: #f1f1f1;
  font-size: 14px;
}

.back-home-link a {
  color: #ffffffcc;
}

.forgot-password-link a,
.register-link a {
  color: #00cec9;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-password-link a:hover,
.register-link a:hover,
.back-home-link a:hover {
  color: #55efc4;
}

@media (max-width: 480px) {
  .login-box {
    width: 90%;
    padding: 30px 20px;
  }

  .login-box h2 {
    font-size: 26px;
  }
}